venv/
# .gitignore
.env
datasets/

datasets/coco128/labels/train2017.cache
datasets/coco128/labels/train2017/.DS_Store
datasets/coco128/images/.DS_Store
datasets/coco128/.DS_Store
datasets/.DS_Store
.DS_Store
.DS_Store
datasets/coco128/.DS_Store
datasets/coco128/labels/.DS_Store
datasets/coco128/labels/train2017.cache
datasets/coco128/labels/train2017/.DS_Store
camera_mapping/__pycache__/camera_calibrator.cpython-313.pyc
camera_mapping/__pycache__/robot_interface.cpython-313.pyc
camera_mapping/__pycache__/yolo_integration.cpython-313.pyc
